<%= render "shared/settings_nav", :obj => 'trips' %>
<div class="side-collapse-container">
	<section class="header-11-sub profile-page">
		<div class="container">
			<div class="row ">
				<div class="col-md-3">
					<ul class="sidebar">
						<li><a href="#">Your Trips</a></li>
						<!-- <li><a href="#">Your Reservations</a></li>
						<li><a href="#">Reservation Requirements</a></li>
						<li><a href="#">Add New Listings</a></li> -->
					</ul>
					<!-- <a href="/products/new" class="btn btn-block btn-viewprofile">Add New Listings</a> -->
				</div>
				<div class="col-md-9">
					<div class="row" style="margin-bottom: 15px;">
						<div class="col-md-10"></div>
						<div class="col-md-2">
							<select class=" form-control" title="Dropdown" id="listed-change">
								<option value="all">All</option>
								<option value="upcomming">Upcomming</option>
								<option value="previous">Previous</option> 
							</select>
							
						</div>
					</div>

					<div class="panel panel-default upcomming">
						<div class="panel-heading"> 
							<h5 class="panel-title">
								Upcomming
							</h5> 
						</div> 
						<div class="panel-body">
							<div class="row">
								<% @upcomming_invoices.each_with_index do |invoice, index|%>
									<div class="col-md-12">
										<div class="col-md-3">
											<a href="/products/<%= product.id %>/edit" class="thumbnail">
												<% if invoice.product.product_overview_url.present? %>
													<img src="<%= product.product_overview_url %>" alt="...">
												<% else %>
													<img src="<%= asset_url('placehold_200_200.png') %>" alt="...">
												<% end %>
											</a>
										</div>

										<div class="col-md-7">
											<h5><%= invoice.product.name %>, for traveller in <%= invoice.product.city %></h5>
											<p>Manage Listing and Calendar</p>
										</div>

										<div class="col-md-2">
											
										</div>
									</div>
									<% unless index == @upcomming_invoices.count - 1 %>
										<!-- <hr> -->
									<% end %>
								<% end %>
								<% if @upcomming_invoices.count == 0 %>
									<div class="col-md-12">
										<div class="col-md-3">
											<a href="#" class="thumbnail">
												<img src="<%= asset_url('placehold_200_200.png') %>" alt="...">
											</a>
										</div>

										<div class="col-md-7">
											<h5>There is no upcomming trip.</h5>
											<!-- <p>Manage Listing and Calendar</p> -->
										</div>

										<div class="col-md-2">
											
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>

					<div class="panel panel-default previous">
						<div class="panel-heading"> 
							<h5 class="panel-title">
								Previous
							</h5> 
						</div> 
						<div class="panel-body">
							<div class="row">
								<% @previous_invoices.each_with_index do |invoice, index|%>
									<div class="col-md-12">
										<div class="col-md-3">
											<a href="#" class="thumbnail">
												<% if invoice.product.product_overview_url.present? %>
													<img src="<%= invoice.product.product_overview_url %>" alt="...">
												<% else %>
													<img src="<%= asset_url('placehold_200_200.png') %>" alt="...">
												<% end %>
											</a>
										</div>

										<div class="col-md-7">
											<h5><%= invoice.product.name %>, for traveller in <%= invoice.product.city %></h5>
											<p>Manage Listing and Calendar</p>
										</div>

										<div  class="col-md-2">
											
										</div>
									</div>
									<% unless index == @previous_invoices.count - 1 %>
										<!-- <hr> -->
									<% end %>
								<% end %>
								<% if @previous_invoices.count == 0 %>
									<div class="col-md-12">
										<div class="col-md-3">
											<a href="#" class="thumbnail">
												<img src="<%= asset_url('placehold_200_200.png') %>" alt="...">
											</a>
										</div>

										<div class="col-md-7">
											<h5>There is no previous trip.</h5>
											<!-- <p>Manage Listing and Calendar</p> -->
										</div>

										<div class="col-md-2">
											
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- full-box-border -->
</div>
<!-- /side-collapse-container  -->

<style>
	ul.sidebar {padding:0;}
	ul.sidebar li{ list-style:none;margin: 10px 0; }
	ul.sidebar li a{ color:#adadad;}
	.listing-details {
		background-color: #FFF;
		border:1px solid #e6e6e6; padding:40px 20px;
	}
	.profile-form input {background-color: #FFF;
		border:1px solid #adadad;
	}
	.profile-form select {background-color: #FFF;
		border:1px solid #adadad; width:100px;
	}
	.btn-viewprofile { width:200px;color: #333;
		background-color: #FFF;
		border-color: #adadad; margin-top:20px;
	}
	.birthdate .dropdown-menu {
		top: 33px;
	}
	.profile-details .dropdown-toggle {
		width: 130px;
	}
	.profile-page {
		padding-top: 40px;
		background: #fafafa;
	}
	.nav-second-profile {  z-index:2;  background: #DBDDDE; padding-top:0;}
	.nav-second-profile li.active {font-weight: bold; color:#000;}
	.nav-second-profile .navbar-nav>li>a {
		padding-top: 15px;
		color: #777;
	}

	/*Listings*/

	h5.panel-title {
		font-weight: normal;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: #000;
		line-height: 26px;margin-left: 15px;
	}

	.header-11-sub p {
		color: #000;font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
	}

	.btn-list {    background: #2d5be3; color:#FFF; border-color:#2d5be3}

	.form-control {
		border: 1px solid #ccc;
	}

	#listed-change {
		width: 130px;
    float: right;
	}

</style>

<script>
	$(document).ready(function() {
		$('#listed-change').on('change', function() {
			var listed_status = $(this).val();
			if(listed_status == 'upcomming') {
				$('.panel.upcomming').fadeIn('slow');
				$('.panel.previous').fadeOut('slow');
			} else if (listed_status == 'previous') {
				$('.panel.upcomming').fadeOut('slow');
				$('.panel.previous').fadeIn('slow');
			} else {
				$('.panel.upcomming').fadeIn('slow');
				$('.panel.previous').fadeIn('slow');
			}
		})
	})


</script>