<div class="side-collapse-container">
	<section class="header-11-sub section-details payment-page">
		<div class="container">
			<div class="row ">
				<div class="col-md-6 billing ">
					<div class="form-block">
						<h3>Payment </h3>
						<%= form_for(@invoice) do |f| %>
							<div class="form-group col-md-12 paddingzero">
								<label for="usr">Billing Country:</label>
								<%= country_select("invoice", "billing_country", {}, { class: 'form-control'} ) %>
							</div>
							<div class="form-group col-md-12 paddingzero">
								<label for="pwd">Payment Type:</label>
								<select class="form-control" title="Payment Type" name="invoice[payment_type]">
									<option value='1'>Credit Card</option>
									<option value='2'>Paypal</option>
								</select>
							</div>
							<div class="form-group col-md-12 paddingzero">  
								<label class=" card-payment-block" for="pwd">
								<img src="<%= asset_url('card1.jpg') %>" width="50"/>
								<img src="<%= asset_url('card2.jpg') %>" width="50"/>
								<img src="<%= asset_url('card3.jpg') %>" width="50"/>
								<img src="<%= asset_url('card4.jpg') %>" width="50"/>
								</label>
							</div>
							<div class="form-group  col-md-4 paddingzero">
								<label for="pwd">Valid Thru:</label>
								<select class=" form-control" title="mm">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="pwd">&nbsp;</label>
								<select class=" form-control" title="yyyy">
									<option value="2015">2015</option>
									<option value="2016">2016</option>
									<option value="2017">2017</option>
									<option value="2018">2018</option>
									<option value="2019">2019</option>
									<option value="2020">2020</option>
									<option value="2021">2021</option>
									<option value="2022">2022</option>
									<option value="2023">2023</option>
									<option value="2024">2024</option>
									<option value="2025">2025</option>
									<option value="2026">2026</option>
									<option value="2027">2027</option>
									<option value="2028">2028</option>
									<option value="2029">2029</option>
									<option value="2030">2030</option>
									<option value="2031">2031</option>
									<option value="2032">2032</option>
									<option value="2033">2033</option>
									<option value="2034">2034</option>
								</select>
							</div>
							<div class="form-group col-md-4  ">
								<label for="sec">Security Code:</label>
								<input type="text" placeholder='' class="form-control input-pay" id="sec">
							</div>
						<% end %>
					</div>
					<div class="form-block">
						<h3>Billing Information   </h3>
						<form role="form">
							<div class="form-group col-md-6   paddingzero ">
								<label for="sec">First Name:</label>
								<input type="text" placeholder='First Name' class="form-control input-pay" id="sec">
							</div>
							<div class="form-group col-md-6  ">
								<label for="sec">Last Name:</label>
								<input type="text" placeholder='Last Name' class="form-control input-pay" id="sec">
							</div>
							<div class="form-group col-md-6  paddingzero">
								<label for="sec">Postal Code:</label>
								<input type="text" placeholder='Postal Code' class="form-control input-pay" id="sec">
							</div>
							<div class="form-group col-md-6 "> </div>
							<div class="form-group col-md-12 paddingzero">
								<br/>
								<br/> 
							</div>
							<div class="form-group col-md-6 "> </div>
							<div class="form-group col-md-6 ">
								<button type="button" class="  blue btn-block btn btn-primary btn-pay">Make Payment </button>
							</div>
						</form>
						<div class="  col-md-12 ">
							<br/><br/><br/>
							<div> By clicking on “Pay”, you agree to pay the total amount shown in the summary on the right, which includes Service Fees, and to follow the Terms of Service, Cancellation Policy, and Guest Refund Policy.
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2  ">
				</div>
				<div class="col-md-4  ">
					<div class="book-now-block ">
						<img  src="<%= @prodcut_image_url %>" width='100%' alt="" />
						<div class="productdetail">
							<!-- <h3>Mount Kinabalu </h3>
							<p>Mount Kinabalu is a prominent mountain on the island of Borneo in Southeast Asia. It is located in the East Malaysian state of Sabah and is protected as Kinabalu Park, a World Heritage Site.</p> -->
							<%= @product.description.html_safe if @product.description.present? %>
							<hr>
							<p><strong>Booking</strong>
								<br>
								<%= @invoice.booking_date.strftime('%b %d, %Y') %>
							</p>
							<hr>
							<% if @invoice.variants.present? %>
								<% @invoice.variants.each do |variant| %>
									<p>2 x <%= variant[:name] %></p>
								<% end %>
							<% end %>
							<!-- <p>2 x Adults</p> -->
							<hr>
							<p class="totalprice">Total : RM888</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- full-box-border -->
</div>

<style>
	.form-control {
		border: 1px solid #ccc;
	}
</style>


<script>
	function initResponsiveHeader() {

	  var sideslider = $('[data-toggle=collapse-side]');
	  var sel = sideslider.attr('data-target');
	  var sel2 = sideslider.attr('data-target-2');
	  sideslider.click(function(event) {
			$(sel).toggleClass('in');
			$(sel2).toggleClass('out');
	  });

	}

	$(window).load(function() {
	  $(document).ready(function() {

	  initResponsiveHeader();
	  
		$('select').selectpicker({
			 liveSearch: false,
			 maxOptions: 1
		});

	  });
	});
</script>