<div class="content-7 merchant-content">
	<!-- Projects Row -->
	<div class="row">
		<%= form_for @store_setting, url: {action: "complete_merchant"}, :html => {class: "merchant-signup-form"} do |f| %>
			<div class="col-md-8 col-xs-offset-2">

				<div class="col-md-10 text-center merchant-signup-title">
					<h3>Create your Merchant Account</h3>
				</div>

				<!-- Signup Menu -->
				<div class="col-md-10">
					<div class="btn-group btn-group-justified merchant-signup-wizard" role="group" aria-label="Justified button group">
						<div class="btn-group" role="group"> <button type="button" class="btn btn-default active-btn" id="merchant-link">Merchant Details</button> </div>
						<div class="btn-group" role="group"> <button type="button" class="btn btn-default" id="store-link">Store Details</button> </div>
						<div class="btn-group" role="group"> <button type="button" class="btn btn-default" id="photo-link">Photo Upload</button> </div>
					</div>
				</div>

				<!--Merchant Details-->

				<div class="col-md-10 merchant-section">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6">
									<%= f.text_field :phone_hp, :class => 'form-control', :placeholder => 'Phone number' %>
								</div>
								<div class="form-group  col-md-6">
								</div>
							</div>
							<div class="row">
								<div class="checkbox col-md-6">
								</div>
								<div class="col-md-6">
									<button type="submit" id="merchant-next" class="btn btn-success btn-proceed btn-next pull-right">Next</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>

				<!--Store Details-->

				<div class="col-md-10 store-section">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6">
									<%= f.text_field :store_username, :class => 'form-control', :placeholder => 'Store Username' %>
								</div>
								<div class="form-group  col-md-6">
									<%= f.text_field :store_name, :class => 'form-control', :placeholder => 'Store Name' %>
								</div>
								<div class="form-group col-md-6">
								<%=  f.country_select( "country", [ "Malaysia" ]) %>
							</div>
							<div class="form-group  col-md-6">
								<%= f.text_field :city, :class => 'form-control', :placeholder => 'City Name' %>
							</div>


							</div>
							<div class="row">
								<div class="col-md-6">
									<button type="button" class="btn btn-success btn-proceed btn-next pull-left" id="store-prev">Previous</button>
								</div>

								<div class="col-md-6">
									<button type="submit" class="btn btn-success btn-proceed btn-next pull-right" id="store-next">Next</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>

				<!--Photo Upload -->


				<div class="col-md-10 photo-section">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row form-group" name="photo-container">
								<div class="col-md-3 profileholder" name="profileholder">
									<a class="remove-profile" href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
									<img src="<%= image_url('placehold_150_150.png') %>" class="img-circle">
									
								</div> 
								
								<div class="col-md-9">
									<p>Clear frontal face photos are an important way for hosts and guests to learn about each other. It’s not much fun to host a landscape! Please upload a photo that clearly shows your face.</p>
									
									<span class="btn btn-default btn-profile" style="margin-bottom: 20px;">
										Upload a file form your computer <input type="file" id="file_upload">
									</span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<button type="button" class="btn btn-success btn-proceed btn-next pull-left" id="photo-prev">Previous</button>
								</div>
								<div class="col-md-6">
									<button type="submit" class="btn btn-success btn-proceed btn-next pull-right">Next</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		<% end %>
	</div>
</div>

<script>
	$(document).ready(function() {
		
		$('.merchant-section').show();
		$('.store-section').hide();
		$('.photo-section').hide();

		// Validation
		$('#new_store_setting').formValidation({
			framework: 'bootstrap',
			icon: {
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
				'store_setting[phone_hp]': {
					validators: {
						notEmpty: {
							message: 'The phone number is required'
						}
					}
				},
				'store_setting[store_username]': {
					validators: {
						notEmpty: {
							message: 'The store username is required'
						},
						callback: {
							message: 'The store username is not valid',
							callback: function(value, validator, $field) {
								store_username = $('#store_setting_store_username').val().trim();
								return (gon.store_usernames.indexOf(store_username) == -1);
							}
						}
					}
				},
				'store_setting[store_name]': {
					validators: {
						notEmpty: {
							message: 'The store name is required'
						}
					}
				},
				'store_setting[country]': {
					row: '.col-xs-12',
					validators: {
						notEmpty: {
							message: 'The country selection is required'
						}
					}
				},
				'store_setting[city]': {
					row: '.col-xs-12',
					validators: {
						notEmpty: {
							message: 'The city name is required'
						}
					}
				},
				'profileholder': {
					validators: {
						callback: {
							message: 'The photo is required',
							callback: function(value, validator, $field) {
								var photo_count = $('[name="store_image[id]"]').length;
								return (photo_count > 0)
							}
						}
					}
				}
			}
		});

		var resetWizardButton = function() {
			$('.merchant-signup-wizard button').removeClass('active-btn');
		}

		$('#merchant-next').on('click', function(event) {
			event.preventDefault();
			$('#new_store_setting').formValidation('revalidateField', 'store_setting[phone_hp]');
			
			if (!$(this).prop('disabled')) {
				$('.merchant-section').hide();
				$('.store-section').show();
				$('.photo-section').hide();
				resetWizardButton();
				$('#store-link').addClass('active-btn');
			}
		})

		$('#store-next').on('click', function(event) {
			event.preventDefault();
			$('#new_store_setting').formValidation('revalidateField', 'store_setting[store_username]');
			$('#new_store_setting').formValidation('revalidateField', 'store_setting[store_name]');
			$('#new_store_setting').formValidation('revalidateField', 'store_setting[country]');
			$('#new_store_setting').formValidation('revalidateField', 'store_setting[city]');
			
			if (!$(this).prop('disabled')) {
				$('.merchant-section').hide();
				$('.store-section').hide();
				$('.photo-section').show();
				resetWizardButton();
				$('#photo-link').addClass('active-btn');
			}
		})

		$('#store-prev').on('click', function(event) {
			event.preventDefault();
			$('.merchant-section').show();
			$('.store-section').hide();
			$('.photo-section').hide();
			resetWizardButton();
			$('#merchant-link').addClass('active-btn');
			$('#merchant-next').prop('disabled', false).removeClass('disabled');
		})

		$('#photo-prev').on('click', function(event) {
			event.preventDefault();
			$('.merchant-section').hide();
			$('.store-section').show();
			$('.photo-section').hide();
			resetWizardButton();
			$('#store-link').addClass('active-btn');
			$('#store-next').prop('disabled', false).removeClass('disabled');
		})

		$('#file_upload').on('change', function() {

			if ($('[name="store_image[id]"]').length > 0) {
				alert("Can't upload more than 1.");
				return;
			};

			$('body').loading({});

			var formData = new FormData();
			formData.append('store_image[store_img]', this.files[0]);
			$.ajax({
			  url: '/store_images',
			  dataType: "json",
			  data: formData,
			  cache: false,
			  contentType: false,
			  processData: false,
			  type: 'POST',
			  success: function(data) {
			  	console.log('success');
			  	$('.profileholder img').attr('src', data.store_img.small.url);
					$('[name="store_image[id]"]').remove();
					$('.profileholder').append('<input type="hidden" name="store_image[id]" value="' + data.id + '">');

					$('#file_upload').val('');
					$('#new_store_setting').formValidation('revalidateField', 'profileholder');
					$('body').loading('stop');
			  },
			  error: function(error) {
	      	console.log(error);
	      	$('body').loading('stop');
	      },
	      timeout: 100000
			});

		})

		$(document).on('click', '.remove-profile', function(event) {
			event.preventDefault();
			if ($(this).parent().find('input[name="store_image[id]"]').length == 0) {
				return;
			}

			$this = $(this)
			$('body').loading({ message: 'Deleting...'});
			
			var attachment_id = $(this).parent().find('input[name="store_image[id]"]').val();
			$.ajax({
			  type: "POST",
	      url: "/store_images/" + attachment_id,
	      dataType: "json",
	      data: { "_method": "delete" },
	      success: function(){
	        $('.profileholder img').attr('src', "<%= image_url('placehold_150_150.png') %>");
					$('[name="store_image[id]"]').remove();
					$('body').loading('stop');
					
					console.log('deleted attachment');
	      },
	      error: function(error) {
					console.log(error);
					$('body').loading('stop');
				}
			});
			event.preventDefault();

		})
		
	})
	
</script>


<!-- original css -->
<style type="text/css">
	
	
	.btn-upload {
		border-color: #c4c4c4;
		background: white;
		color: #565a5c;padding: 9px 27px;
		font-size: 16px;
	}
	.fileUpload {
		position: relative;
		overflow: hidden;
		margin: 10px;
	}

	.fileUpload input.upload {
		width: 200px;
		height: 250px;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	.btn.active-btn {
		color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
	}

	ul.sidebar {padding:0;}
		ul.sidebar li{ list-style:none;margin: 10px 0; }
		ul.sidebar li a{ color:#adadad;}
		.profile-details {background-color: #FFF;
			border:1px solid #e6e6e6; padding:40px 20px;}
			.profile-form input {background-color: #FFF;
				border:1px solid #adadad;
			}
			.profile-form select {background-color: #FFF;
				border:1px solid #adadad; width:100px;
			}
			.btn-viewprofile { width:200px;color: #333;
				background-color: #FFF;
				border-color: #adadad; margin-top:20px;}
				.birthdate .dropdown-menu {
					top: 33px;
				}
				.profile-details .dropdown-toggle {
					width: 130px;
				}
				.profile-page {
					padding-top: 40px;
					background: #fafafa;
				}
				.nav-second-profile {    background: #DBDDDE; padding-top:0;}
				.nav-second-profile li.active {font-weight: bold; color:#000;}
				.nav-second-profile .navbar-nav>li>a {
					padding-top: 15px;
					color: #777;
				}
				
				.profile-photo p{ font-size: 14px;     color: #333; font-family:Arial, Helvetica, sans-serif;}
				
				
				.btn-profile {
					position: relative;
					overflow: hidden;
				}
				.btn-profile input[type=file] {
					position: absolute;
					top: 0;
					right: 0;
					min-width: 100%;
					min-height: 100%;
					font-size: 100px;
					text-align: right;
					filter: alpha(opacity=0);
					opacity: 0;
					outline: none;
					background: white;
					cursor: inherit;
					display: block;
				}
				.profileholder { background:#fafafa;padding: 10px;}
				.remove-profile { position:absolute;    position: absolute;
					top: 10px;
					left: 178px;
					color: red;}
</style>



<style>
         .merchant-content {    background: #EBECED;}
         /*nav*/
         .navbar-white .navbar .brand {
         margin-top: -19px;}
         .navbar-white {
         border-bottom: 1px solid #dce0e0;
         height: 61px;
         padding: 0;
         background: #FFF;
         }
         p {    font-size: 14px;
         color: #000;}
         a {   
         color: #000;}
         /*nav*/
         /*Overrighting original header.css*/
         /*Footer*/
         .bottom-below-footer { margin-top:100px;}
         .bottom-below-footer p{ color:#FFF;}
         .btn-currency { border-radius:1px; background:none; border:1px solid #999; color:#FFF;}
         .btn-currency:hover {background:none;color:#FFF;}
         .btn-currency:focus {  background:none;color:#FFF;}
         .open > ul.currency-dropdown-menu {
         margin-top: 0;
         }
         .open .dropdown-toggle.btn-default.btn-currency {
         background: #000;
         }
         /*Footer*/
         /*marchant*/
         .merchant-content { padding:40px 0 80px 0;}
         .merchant-signup-title { padding:40px 0;}
         .merchant-signup-title h3{ margin-bottom:40px;    color: #000;}
         .merchant-signup-form .form-group {
         margin-bottom: 40px;
         }
         .merchant-signup-form .form-control {
         border: 1px solid #ccc;
         border-radius: 1px;
         padding: 20px 10px;
         }
         .btn-next {    padding: 10px 30px;}
         .merchant-content .panel-body {
         padding:40px 35px;
         }
         .merchant-signup-wizard .btn-group>.btn{ padding:10px;
         background: #F4F5F6;
         border-bottom: 1px solid #E1E3E5;
         text-shadow: 0 1px 0 rgba(255, 255, 255, 0.57);
         border-radius: 1px;
         }
         .merchant-info .checkbox {
         margin-bottom: 30px;
         }
         .minfo-btn {    width: 400px; text-align:left; }
         .basic-detail .dropdown-toggle{    width: 427px;    width: 302px;
         border-radius: 1px;
         text-align: left;}
         span.caret .pull-right {    margin-top: 9px;}
         .panel {    box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
         -webkit-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
         -moz-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;}
         .tab-first { border-right:0;}
         .tab-centre {}
         .tab-last { border-left:0;}
         .btn-proceed { background:#F4511E; border-radius:2px; border:0;}
         .btn-proceed:hover { background:#BF360C;}
         .terms {    padding-top: 11px;}
         .merchant-select { width:100%; border-radius:1px;}
         .merchant-caret {
         margin-left: 0;
         margin-top: 9px;
         }
         .activetab { font-weight:bold;}
         .categories-checkbox { margin-bottom:40px;}
         .paddingzero { padding:0;}
         .categories-blurp { margin-bottom:40px;}
         .btn-state { width:302px;}
         .btn-country {width:302px;}
         .country-caret {margin-top: 9px;}
         .state-caret {margin-top: 9px;}
         /*marchant*/
      </style>



<style>
	.btn.btn-default {
		color: #333;
	}
	.form-control-feedback.fv-icon-no-label {
		right: 15px;
	}
	.btn.btn-default.btn-profile:hover {
		color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
	}
</style>