<% content_for :page_title do %>
	<%= 'Travelog - Signup' %>
<% end %>
<div class="container signupLogin-content">
	 <!-- Projects Row -->
	 <div class="row">
			<div class="col-md-offset-3 col-md-6 col-lg-6 signup-page text-center">
				<h3>Let's sign you in!</h3>
				<hr>
				<%= form_for('user', url: user_registration_path, html: {:class => 'text-left'}) do |f| %>
					<input type="hidden" name="fb_share_token" value="<%= @fb_share_token %>">
					<div class="form-group">
						<%= f.label :email, 'Email address' %><br />
						<%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :first_name, 'First Name' %><br />
						<%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :last_name, 'Last Name' %><br />
						<%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :password %>
						<%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :password_confirmation, 'Confirm Password' %>
						<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control" %>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default signup-btn">Submit</button>
					</div>
				<% end %>
				
				
			</div>
	 </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#new_user').formValidation({
			framework: 'bootstrap',
			icon: {
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
				'user[email]': {
					validators: {
						notEmpty: {
							message: 'The email is required'
						}
					}
				},
				'user[first_name]': {
					validators: {
						notEmpty: {
							message: 'The first name is required'
						}
					}
				},
				'user[last_name]': {
					validators: {
						notEmpty: {
							message: 'The last name is required'
						}
					}
				},
				'user[password]': {
					validators: {
						notEmpty: {
							message: 'The password is required'
						}
					}
				},
				'user[password_confirmation]': {
					validators: {
						notEmpty: {
							message: 'The password confirmation is required'
						}
					}
				},
			}
		})
	})
</script>

<style>
	  /* -----
SVG Icons
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
/* -----
SVG Icons
----- */
.icon-facebook{    position: absolute;
    top: -2px;
    left: 91px;
    width: 20px;}
.icon-facebook path{fill:#FFF;}
.btn-facebook { background:#3b5999; border:0; border-radius:1px; color:#FFF;width: 380px;
    height: 40px;     padding: 12px 121px;
    margin-left: -15px;}
	.btn-facebook:hover,active,focus { color:#FFF;}
	.fb-btn-row { margin-top:40px;}

	  </style>





<!-- added by me -->
<style>
	.signupLogin-content .signup-page {
		height: inherit;
	}
	.btn-default.signup-btn {
		width: 100%;
	}
	.btn-facebook {
		width: 100%;
		display: block;
		margin-left: 0px;
	}
	.icon-facebook {
		top: 8px;
	}
	.fb-btn-row { margin-top:0px;}

</style>