<% content_for :page_title do %>
	<%= 'Profile - Travelog' %>
<% end %>

<style>
         ul.sidebar {padding:0;}
         ul.sidebar li{ list-style:none;margin: 10px 0; }
         ul.sidebar li a{ color:#adadad;}
         .profile-details {background-color: #FFF;
         border:1px solid #e6e6e6; padding:40px 20px;}
         .profile-form input {background-color: #FFF;
         border:1px solid #adadad;
         }
         .profile-form select {background-color: #FFF;
         border:1px solid #adadad; width:100px;
         }
         .btn-viewprofile { width:200px;color: #333;
         background-color: #FFF;
         border-color: #adadad; margin-top:20px;}
         .birthdate .dropdown-menu {
         top: 33px;
         }
         .profile-details .dropdown-toggle {
         width: 130px;
         }
         .profile-page {
         padding-top: 70px;
         background: #fafafa;
         }
        
</style>
<%= render "shared/settings_nav" %>
<div class="side-collapse-container">
   <section class="header-11-sub profile-page">
            <div class="container">
               <div class="row ">
                  <%= render 'shared/profile_nav' %>
                  <div class="col-md-8">
                     <div class="panel-header">
                        Profile Photo
                     </div>
                     </div>
                     <div class="col-md-8">
                     <div class="profile-details">
                        <%= form_for @profile, url: {action: "photos"}, :html => {:class => "form-horizontal profile-form" } do |f| %>

                        <div class="attachments-container">
                           <div class="form-group">
                              <button type="button" id="add-avatar-button" class="btn btn-default active">Add Avatar</button>
                              <input name="file_attachment" type="file" id="file_upload">
                           </div>

                           <% if @profile.user_avatar.present? %>
                              <div class="form-group col-md-4">
                                 <img src="<%= @profile.user_avatar.avatar.small.url %>">
                                 <input type="hidden" name="user_avatar[id]" value="<%= @profile.user_avatar.id %>">
                                 <button type="button" class="btn btn-default delete-attachment">Delete</button>
                              </div>
                           <% end %>
                        </div>
                        
                        <% end %>
                     </div>
                     </div>
               </div>
            </div>
   </section>
</div>
