<% content_for :page_title do %>
	<%= 'Profile - Travelog' %>
<% end %>


<%= render "shared/settings_nav", :obj => 'profile' %>
<div class="side-collapse-container">
	<section class="header-11-sub profile-page">
		<div class="container">
			<div class="row ">
				<%= render 'shared/profile_nav' %>
				<div class="col-md-9">
					<!-- <div class="panel-heading">
						Profile Photo
					</div> -->

					<%= form_for @profile, url: {action: "profile_avatar"}, :html => {:class => "form-horizontal profile-form" } do |f| %>
						<div class="panel panel-default profile-photo">
							<div class="panel-heading">Profile Photo</div>
							<div class="panel-body">
								<div class="col-md-3 profileholder">
									<a class="remove-profile" href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
									<% if @profile.user_avatar.present? %>
										<img src="<%= @profile.user_avatar.avatar.small.url %>" class="img-circle">
										<input type="hidden" name="user_avatar[id]" value="<%= @profile.user_avatar.id %>" >
									<% else %>
										<img src="<%= image_url('placehold_150_150.png') %>" class="img-circle">
									<% end %>
									
								</div> 
								
								<div class="col-md-9">
									<p>Clear frontal face photos are an important way for hosts and guests to learn about each other. It’s not much fun to host a landscape! Please upload a photo that clearly shows your face.</p>
									
									<span class="btn btn-default btn-profile" style="margin-bottom: 20px;">
										Upload a file form your computer <input type="file" id="file_upload">
									</span>
									<%= f.submit 'Submit', :class => 'btn btn-default', :style => 'display: block; margin-bottom: 20px;' %>
								</div> 
							</div>
						</div>
					<% end %>
				</div>

				
			</div>
		</div>
	</section>
</div>

<script type="text/javascript">
	$(document).ready(function() {

		$(document).on('change', '#file_upload', function() {

			if ($('[name="user_avatar[id]"]').length > 0) {
				alert("Can't upload more than 1.");
				return;
			};

			var formData = new FormData();
			formData.append('user_avatar[avatar]', this.files[0]);
			$('body').loading({ message: 'Uploading...'});
			$.ajax({
				url: '/user_avatars',
				dataType: "json",
				data: formData,
				cache: false,
				contentType: false,
				processData: false,
				type: 'POST',
				success: function(data) {
					console.log('success');
					$('.profileholder img').attr('src', data.avatar.small.url);
					$('[name="user_avatar[id]"]').remove();
					$('.profileholder').append('<input type="hidden" name="user_avatar[id]" value="' + data.id + '">');

					$('#file_upload').val('');
					$('body').loading('stop');
				},
				error: function(error) {
					console.log(error);
					$('body').loading('stop');
				}
			});
		})

		$(document).on('click', '.remove-profile', function(event) {
			event.preventDefault();
			if ($(this).parent().find('input[name="user_avatar[id]"]').length == 0) {
				return;
			}
			var attachment_id = $(this).parent().find('input[name="user_avatar[id]"]').val();

			$this = $(this);
			$('body').loading({ message: 'Deleting...'});
			$.ajax({
				type: "POST",
				url: "/user_avatars/" + attachment_id,
				dataType: "json",
				data: { "_method": "delete" },
				success: function(){
					$('.profileholder img').attr('src', "<%= image_url('placehold_150_150.png') %>");
					$('[name="user_avatar[id]"]').remove();
					$('body').loading('stop');
					console.log('deleted attachment');
				},
				error: function(error) {
					console.log(error);
					$('body').loading('stop');
				}
			});
		})
	})

		
</script>


<style>
         ul.sidebar {padding:0;}
         ul.sidebar li{ list-style:none;margin: 10px 0; }
         ul.sidebar li a{ color: #000;
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
    padding: 16px 15px 5px;}
         .profile-details {background-color: #FFF;
         border:1px solid #e6e6e6; padding:40px 40px 10px;}
         .profile-form input {background-color: #FFF;
         border:1px solid #adadad;
         }
         .profile-form select {background-color: #FFF;
         border:1px solid #adadad; width:100px;
         }
         .btn-viewprofile { width:200px;border: 1px solid;
    border-radius: 2px;
    color: #6A707D;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: rgba(204, 206, 210, 0.67) rgba(205, 206, 208, 0.78) rgba(182, 183, 185, 0.67);
    background: #F4F4F5;
    background: -webkit-linear-gradient(top,#FFF,#F6F7F8);
    background: -ms-linear-gradient(top,#FFFFFF,#f9f9f9);
    background: -moz-linear-gradient(top,#FFFFFF,#f9f9f9);
    background: -o-linear-gradient(top,#FFFFFF,#f9f9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#f9f9f9');
 margin-top:20px;}
         .birthdate .dropdown-menu {
         top: 33px;
         }
         .profile-details .dropdown-toggle {
         width: 130px;    border-radius: 2px;
         }
         .profile-page {
         padding-top: 40px;
         background: #fafafa;
         }
         .nav-second-profile {   
		 background: #EEEFF0;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f6', endColorstr='#EEEFF0', GradientType=0);
    background: -webkit-gradient(linear,left top,left bottom,from(#F4F5F6),to(#EEEFF0));
    background: -webkit-linear-gradient(top,#F4F5F6,#EEEFF0);
    background: -moz-linear-gradient(top,#f4f5f6,#eeeff0);
    background: -o-linear-gradient(top,#f4f5f6,#eeeff0);
    background: linear-gradient(top,#f4f5f6,#eeeff0);
    -webkit-box-shadow: inset 0 1px 0 #F8F9F9,0 0 0 1px rgba(14, 16, 18, 0.1),0 1px 2px 0 rgba(14, 16, 18, 0.1);
    -moz-box-shadow: inset 0 1px 0 #F8F9F9,0 0 0 1px rgba(14, 16, 18, 0.1),0 1px 2px 0 rgba(14, 16, 18, 0.1);
    box-shadow: inset 0 1px 0 #F8F9F9,0 0 0 1px rgba(14, 16, 18, 0.1),0 1px 2px 0 rgba(14, 16, 18, 0.1);
   z-index: 99;margin-bottom: 0;}
         .nav-second-profile li.active {font-weight: bold; color:#000;}
         .nav-second-profile .navbar-nav>li>a {
         padding-top: 15px;
         color: #777;
         }
		 
		 .profile-photo p{ font-size: 14px;     color: #333; font-family:Arial, Helvetica, sans-serif;}
		 
		 
		 	.btn-profile {
    position: relative;
    overflow: hidden;border: 1px solid;
    border-radius: 2px;
    color: #6A707D;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: rgba(204, 206, 210, 0.67) rgba(205, 206, 208, 0.78) rgba(182, 183, 185, 0.67);
    background: #F4F4F5;
    background: -webkit-linear-gradient(top,#FFF,#F6F7F8);
    background: -ms-linear-gradient(top,#FFFFFF,#f9f9f9);
    background: -moz-linear-gradient(top,#FFFFFF,#f9f9f9);
    background: -o-linear-gradient(top,#FFFFFF,#f9f9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#f9f9f9');

}
.btn-profile input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.profileholder { background:#fafafa;padding: 10px;}
.remove-profile { position:absolute;    position: absolute;
    top: 10px;
    left: 178px;
    color: red;}
	
	.form-horizontal .form-group {
    margin-bottom: 40px;
}

.panel-heading {
    color: #333;
    background: #F4F5F6;
    border-bottom: 1px solid #E1E3E5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.57);
    font-weight: bold;
    box-shadow: none;
    font-size: 14px;
    color: #5A626B;    padding: 15px 15px;
}
	.btn-save { background:#F4511E; color:#FFF; border:0; padding:10px 40px; border-radius:2px;}
	
	         /*Footer*/
         .bottom-below-footer { margin-top:100px;}
         .btn-currency { border-radius:1px; background:none; border:1px solid #999;}
         .btn-currency:hover, focus, active {background:none;}
         .btn-currency:hover,active {  background:none;}
         .open > ul.currency-dropdown-menu {
         margin-top: 0;
         }
         .open .dropdown-toggle.btn-default.btn-currency {
         background: #000;
         }
         /*Footer*/

		 
      </style>