<nav class="navbar navbar-static-top nav-second-profile subnav-dark">
	<div class="container">
		<div id="" class="">
			<ul class="nav navbar-nav ">
				<li class="<%= 'active' if obj == 'about' %>"><a href="/about">About</a></li>
				<li class="<%= 'active' if obj == 'press' %>"><a href="/press">Press</a></li>
				<li class="<%= 'active' if obj == 'career' %>"><a href="/career">Career</a></li>
				<li class="<%= 'active' if obj == 'blog' %>"><a href="/blog">Blog</a></li>
				<li class="<%= 'active' if obj == 'contact' %>"><a href="/contact">Contact</a></li>
				<li class="<%= 'active' if obj == 'policy' %>"><a href="/policy">Policy</a></li>
				<li class="<%= 'active' if obj == 'help' %>"><a href="/help">Help</a></li>
				<li class="<%= 'active' if obj == 'terms' %>"><a href="/terms">Terms</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>