<section class="content-8 v-center">
	<div>
		<div class="container">
			<h3>Explore the world</h3>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 explorestacks">
					<a  class="wide-text-over" href="#">Kabukichō</a>
					<a href="#">
					<img class="" src="<%= image_url('img/12.png') %>" alt="">
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 explorestacks">
					<div class="explore-center-detail">
						<a href=""><img src="https://s3.amazonaws.com/uifaces/faces/twitter/himani/128.jpg" width="56" class=" img-circle user-thumb-center"></a><br>
						<a  class="text-over-center-user" href="#">John Connor</a><br>
						<a  class="text-over-center-place" href="#">Kabukichō</a>
					</div>
					<a href="#"  class="">
					<img class="" src="<%= image_url('img/14.png') %>" alt="">
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 explorestacks">
					<a  class="text-over" href="#">Kabukichō</a>
					<a href="#"  class="">
					<img class="" src="<%= image_url('img/15.jpg') %>" alt="">
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 explorestacks">
					<a  class="text-over" href="#">Kabukichō</a>
					<a href="#"  class="">
					<img class="" src="<%= image_url('img/16.jpg') %>" alt="">
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 explorestacks">
					<a  class="text-over" href="#">Kabukichō</a>
					<a href="#"  class="">
					<img class="" src="<%= image_url('img/17.png') %>" alt="">
					</a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 explorestacks">
					<a class="wide-text-over" href="#">Kabukichō</a>
					<a href="#">
					<img class="" src="<%= image_url('img/13.png') %>" alt="">
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 explorestacks">
					<div class="explore-center-detail">
						<a href=""><img src="https://s3.amazonaws.com/uifaces/faces/twitter/bellbells/128.jpg" width="56" class=" img-circle user-thumb-center"></a><br>
						<a  class="text-over-center-user" href="#">John Connor</a><br>
						<a  class="text-over-center-place" href="#">Kabukichō</a>
					</div>
					<a href="#"  class="">
					<img class="" src="<%= image_url('img/14.png') %>" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>