<div class="side-collapse-container">
	<section class="header-11-sub bg-midnight-blue navbar-none ">
		<div class="background">
			&nbsp;
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h3>We help you to discover and<br>
						book amazing things to do
					</h3>
					<p>
						Buy experinces not things
					</p>
					<div ng-controller="TestCtrl">
						<form class="form-inline landing-page-search" method="POST" action="/products/result">
							<%= tag(:input, :name => 'authenticity_token', :type => "hidden", :value => form_authenticity_token) %>
							<div class="form-group">
								<input type="text" name="city" class="form-control places-form" id="search-location"  ng-autocomplete="result1" placeholder="Where do you want to go?" autocomplete = "off">
							</div>
							<div class="form-group" ng-controller='DefaultCtrl'>
								<input type="text" id="demo6" name="search_free_text" class="form-control name-form"  auto-complete ui-items="names" ng-model="selected" placeholder="Search Names" autocomplete="off" >
							</div>
							<% ProductCategory.order('id').each do |category| %>
								<input type="hidden" name="category_<%= category.id %>" value="1">
							<% end %>
							<button type="submit" class="btn btn-default search-btn">Search</button>
						</form>
					</div>
					<br>
				</div>
			</div>
		</div>
	</section>
	<div class="container landing-content">
		<!-- Projects Row -->
		<div class="row">
			<div class="col-md-12 text-center content-title">
				<h3>Now trending in Kuala Lumpur</h3>
			</div>
		</div>

			<% @products.each_slice(4).each do |slice| %>
			<div class="row">
			<% slice.each do |product| %>
			<div class="col-md-3 portfolio-item">
				<p class="price"><%= get_all_currency_symbols[product.current_currency] %> <%= product.price_with_currency %></p>
				<a href="<%= product_path product %>"><img src="<%= product.user.store_setting.store_image.store_img.small if product.user.store_setting.store_image.present? %>" class="img-circle user-thumb" width="52"/></a>
				<a href="<%= product_path product %>">
				<img class="img-responsive" src="<%= product.product_attachments.first.attachment.small.url if product.product_attachments.first.present? %>" width="262" alt="">
				</a>
				<h4>
					<a href="<%= product_path product %>"><%= product.name %></a>
				</h4>
				<a href="<%= product_path product %>">
					<p><%= product.city%>, <%= product.country%></p>
				</a>
				</div>
				<% end %>
			</div>
			<% end %>
			
	
		<!-- /.row -->
		<!-- Projects Row -->
		
		<!-- /.row -->
		<div class="row">
			<div class="col-md-12 text-center content-title">
				<h3>Discover</h3>
			</div>
			<div class="col-md-6 portfolio-item">
				<div class="text-overlay big-left">
					<a href="#">Perhentian Island</a>
				</div>
				<div class="overlay-bg"></div>
				<a href="#"  class="overlay-big-left">
				<img class="img-responsive" src="<%= asset_url('9.png') %>" width="570" alt="">
				</a>
			</div>
			<div class="col-md-6 portfolio-item">
				<!--Top Right Image-->
				<div class="text-overlay top-right">
					<a href="#">Yoda Island</a>
				</div>
				<div class="overlay-right-top-bg"></div>
				<a class="overlay-right-top" href="#">
				<img class="img-responsive" src="<%= asset_url('10.png') %>" width="570" alt="">
				</a>
				<!--Bottom Right Image-->
				<div class="text-overlay bottom-right">
					<a href="#">Mount Kinabalu</a>
				</div>
				<div class="overlay-right-bottom-bg"></div>
				<a class="overlay-right-bottom" href="#">
				<img class="img-responsive" src="<%= asset_url('11.png') %>" width="570" alt="">
				</a>
			</div>
			<!--Discover More-->
			<div class="col-md-12 text-center view-more">
				<a href="#" class="view-more-btn">Discover More</a>
			</div>
		</div>
	</div>
	
</div>
<!-- /side-collapse-container  -->
<script>
	function initResponsiveHeader() {
	  var sideslider = $('[data-toggle=collapse-side]');
	  var sel = sideslider.attr('data-target');
	  var sel2 = sideslider.attr('data-target-2');
	  sideslider.click(function(event) {
			$(sel).toggleClass('in');
			$(sel2).toggleClass('out');
	  });

 	}
	
	
	
	$(window).load(function() {
	  $(document).ready(function() { 
	  initResponsiveHeader(); 

	  });
	});
	$(function() {
		function displayResult(item) {
		  $('.alert').show().html('You selected <strong>' + item.value + '</strong>: <strong>' + item.text + '</strong>');
		}
		// $('#demo6').typeahead({
		//   source: [
		// 		'Genting',
		// 		'Zoo Negara',
		// 		'Tioman',
		// 		'Petronas Towers',
		// 		'Batu Caves',
		// 		'Gunung Mulu',
		// 		'Mount Kinabalu',
		// 		'Bako Park',
		// 		'Sunway Lagoon',
		// 		'Pangkor island'],
		//   onSelect: displayResult
		// });

		$('#demo6').typeahead({
		  source: gon.product_categories,
		  onSelect: displayResult
		});

		$('#search-location').typeahead({
			source: gon.search_location_list,
			onSelect: displayResult
		});
	
	});
			
</script>



<style>
	/*the dropdown*/
	.caret-up {
		width: 0; 
		height: 0; 
		border-left: 4px solid rgba(0, 0, 0, 0);
		border-right: 4px solid rgba(0, 0, 0, 0);
		border-bottom: 4px solid;

		display: inline-block;
		margin-left: 2px;
		vertical-align: middle;
	}
	/*the dropdown*/


	.trending-list { width:235px; display:inline;}
	.trending-list a{ border-bottom: 2px dashed #F4511E;
		color: #F4511E;}
		.select-trending {border-bottom: 1px dashed #30a0ff;}
		ul.dropdown-menu {
			background-color: #fff;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: 1px solid #ccc;
			border: 1px solid rgba(0,0,0,.15);
			border-radius: 1px;
			-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
			box-shadow: 0 6px 12px rgba(0,0,0,.175);
			z-index: 999; width:200px;
		}
		.trending-list .dropdown-menu > li > a {
			border-bottom: 1px solid rgba(0,0,0,.15);
			color: #000; text-align:left;
		}
		section * {
			z-index: inherit;
		}
		/*explore landing user center*/
		.user-thumb-center { border:2px solid #FFF;}
		.explore-center-detail { position:absolute; top: 130px;
			left: 140px;}
			.explore-center-detail a{ text-align:center; color:#FFF;}
			.explore-center-detail .text-over-center-user{ font-size:14px; line-height:20px;}
			.explore-center-detail .text-over-center-place{ font-size:24px;line-height:26px;}
			/*explore landing user center*/
			/*existing style*/
			.navbar .navbar-toggle {
				margin: 26px 0 10px;
				color: white;
				background: none;
				padding: 0;
				width: 30px;
				height: 30px;
				background: image-url("common-files/icons/menu-icon-header-8.png") 50% no-repeat;
			}
			.header-10 .navbar .brand { margin-top: -9px;padding-top: 0;}

			.header-10 {
				background:#FFF;
			}   
			.header-10 .navbar .nav > li > a {    color: #000;}

			.content-8 {
				padding-top: 40px;
				padding-bottom: 80px;
			}
			.content-7 {
				padding-top: 100px;    padding-bottom: 20px;
			}
			.product-card p.price {
				background: rgba(60,63,64,0.9);
				min-width: 100px;
				padding: 6px 16px;
				color: #fff;
				font-size: 18px;
				position: absolute;
				top: 267px;
			}
			.discount {    font-size: 16px;
				color: #CCC;}
				.user-thumb {
					position: absolute;
					top: 320px;
					left: 295px;
				}
				.product-card {
					margin-bottom: 20px;
					position: relative;
				}
				.product-card p {
					font-size: 16px;
					font-weight: normal;
					color: #7f8c8d;
					margin-bottom: 20px;
				}
				.product-card h4 a{
					text-align: center;
					font-size: 20px;
					font-weight: normal;
					color: #34495e;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					margin-top: 70px;
				}
				.product-card h4 {margin-bottom: 0;}
				.content-23 {
					height: 514px;
				}
			.content-23 #bgVideo > video {/*height:0; width:0;*/}
			.background {opacity: 0.5;}
			.form-control {
				border: 0;
				border-radius: 1px;
			}
			.btn-search{    border-radius: 1px;
				margin-left: -4px;background: #FF5722;}
				.btn-search:hover{ background:#BF360C;}
				.content-23 #bgVideo > video {
					position: absolute !important;
					top: -140px !important;
				}
				.location-search { }
				.global-search { width:500px;    margin-left: -118px;
					border-left: 1px solid #CCC;}
					.input-group-btn{
						position: static;}
						.dropdown-menu{
						}
						.input-group-btn .drop-places { border-radius: 1px; background: #FFF;}
						.input-group-btn .drop-places:hover, active{ background: #FFF;}
						.btn-default .caret {
							border-top-color: #CCC;
						}		 
						.location-search .dropdown-menu {
							background-color: #FFF;
							border-radius: 0;
						}
						.location-search .dropdown-menu li > a:hover, .dropdown-menu li > a:active, .dropdown-menu li > a:focus {
							color: #000;
						}
						.location-search .open > .dropdown-menu {
							margin-top: -1px !important;
							text-align: left;
							width: 351px;
						}
						/*existing style*/
						/*content-8*/
						.wide-text-over {
							position: absolute;
							top: 150px;
							left: 320px;
							z-index: 99;font-size:32px; color:#FFF; font-weight:bold;
						}
						.wide-text-over:hover {color:#FF5722;}
						/* Portrait phones and smaller */
						@media (max-width: 480px) {
							.wide-text-over {
								top: 70px;
								left: 90px;
							}
						}
						.text-over {
							position: absolute;
							top: 150px;
							left: 100px;
							z-index: 99;
							font-size:32px; color:#FFF; font-weight:bold;
						}
						.text-over:hover{ color:#000;}
						.explorestacks { padding:15px 15px}
						/*content-8*/
						.bottom-below-footer { margin-top:100px;}
						.btn-currency { border-radius:1px; background:none; border:1px solid #999;}
						.btn-currency:hover, focus, active {background:none;}
						.btn-currency:hover,active {  background:none;}
						.open > ul.currency-dropdown-menu {
							margin-top: 0;
						}
						.open .dropdown-toggle.btn-default {
							background: #FFF;
						}
						/*nav profile*/
						.header-10 .navbar .nav > li > a:hover {color: #FF5722;}

						.header-10 .navbar .nav > li.nav-user-options a{    padding: 21px 0 19px; background:#FFF;}
						.header-10 .navbar .nav > li.nav-user-options a:active {background:#FFF;}
						.header-10 .navbar .nav > li.nav-user-options a img{margin-left: 20px;}
						.open > ul.profile-nav-dropdown {margin-top: -1px !important;}
						.open > ul.profile-nav-dropdown li {padding-left: 20px;}
						.open > ul.profile-nav-dropdown li a:hover{ color:#000;}
						/*nav profile*/
						.btn-destination { padding:10px;    border:1px solid #c4c4c4;
							background: white; border-radius:1px;
							color: #565a5c;}
							.btn-destination:hover {color: #FF5722; border:1px solid #FF5722;}
							.all-destinations-sections { margin-top:40px;}
						</style>