<% content_for :page_title do %>
  <%= 'Travelog - Signin' %>
<% end %>
</nav>
<div class="container signupLogin-content">
  <!-- Projects Row -->
  <div class="row">
		<div class="col-md-offset-3 col-md-6 col-lg-6 signin-page text-center">
		  <h3>Welcome Back!</h3>
		  <hr>
		  <%= form_for(resource, :html=> {:class => 'text-left'}, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="form-group">
				  <%= f.label :email, 'Email address' %><br />
				  <%= f.email_field :email, autofocus: true, :class=>'form-control', :placeholder => 'Email' %>
				</div>

				<div class="form-group">
				  <%= f.label :password %><br />
				  <%= f.password_field :password, autocomplete: "off",:class=>'form-control', :placeholder => 'Password' %>
				</div>

				<%= f.submit "Sign in", :class=> 'btn btn-default signin-btn' %>
				<% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
				  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
				<% end %>
				<div class="col-md-12 fb-btn-row">
				  <a href="/users/auth/facebook" class="btn-facebook">
					<svg class="svg-icon icon-facebook" viewBox="0 0 20 20">
					  <path fill="none" d="M11.344,5.71c0-0.73,0.074-1.122,1.199-1.122h1.502V1.871h-2.404c-2.886,0-3.903,1.36-3.903,3.646v1.765h-1.8V10h1.8v8.128h3.601V10h2.403l0.32-2.718h-2.724L11.344,5.71z"></path>
					</svg>
					Sign In with Facebook
				  </a>
				</div>

				<div class="col-md-12 text-center">
				  <p class="signinToLogin">Not yet a member? <strong><%= link_to "Sign Up", new_user_registration_path %></strong></p>
				</div>

		  <% end %>
		  
		</div>
  </div>
</div>

<style>
	  /* -----
SVG Icons
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
/* -----
SVG Icons
----- */
.icon-facebook{    position: absolute;
    top: -2px;
    left: 91px;
    width: 20px;}
.icon-facebook path{fill:#FFF;}
.btn-facebook { background:#3b5999; border:0; border-radius:1px; color:#FFF;width: 380px;
    height: 40px;     padding: 12px 120px;
    margin-left: -15px;}
	.btn-facebook:hover,active,focus { color:#FFF;}
	.fb-btn-row { margin-top:40px;}

	  </style>