<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>






<p><%= "Hello #{@resource.email}" %></p>

<p><%= "Someone has invited you to #{root_url}, you can accept it through the link below." %></p>

<p><%= link_to "Accept invitation", accept_invitation_url(@resource, :invitation_token => @token) %></p>

<% if @resource.invitation_due_at %>
  <p><%= "This invitation will be due in #{@resource.invitation_due_at}" %></p>
<% end %>

<p><%= "If you don't want to accept the invitation, please ignore this email.<br />Your account won't be created until you access the link above and set your password.".html_safe %></p>
