<section class="content-8 gallery">
	<div>
		<div class="container">
			<div class="row">
				<div id="lightgallery" class="col-md-7 detailpage-images-gallery" >
					<% if @product.product_attachments.present? && @product.product_attachments.count > 0 %>
						<% @product.product_attachments.each_with_index do |attachment, index| %>
							<% if index == 0 %>
								<div class="col-md-6 topleftimg" data-responsive="<%= attachment.attachment.url %>" data-src="<%= attachment.attachment.url %>" data-sub-html="<%= @product.highlight %>">                
									<a href="">
										<img src="<%= attachment.attachment.small.url %>" class="img-responsive">
									</a>
								</div>
							<% elsif index == 1 %>
								<div class="col-md-6 toprightimg" data-responsive="<%= attachment.attachment.url %>" data-src="<%= attachment.attachment.url %>" data-sub-html="<%= @product.highlight %>">                
									<a href="">
										<img src="<%= attachment.attachment.small.url %>" class="img-responsive">
									</a>
								</div>
							<% elsif index == 2 %>
								<div class="col-md-4 bottomleftimg" data-responsive="<%= attachment.attachment.url %>" data-src="<%= attachment.attachment.url %>" data-sub-html="<%= @product.highlight %>">                
									<a href="">
										<img src="<%= attachment.attachment.small.url %>" class="img-responsive">
									</a>
								</div>
							<% elsif index == 3 %>
								<div class="col-md-4 bottomcentreimg" data-responsive="<%= attachment.attachment.url %>" data-src="<%= attachment.attachment.url %>" data-sub-html="<%= @product.highlight %>">                
									<a href="">
										<img src="<%= attachment.attachment.small.url %>" class="img-responsive">
									</a>
								</div>
							<% elsif index == 4 %>
								<div class="col-md-4 bottomrightimg" data-responsive="<%= attachment.attachment.url %>" data-src="<%= attachment.attachment.url %>" data-sub-html="<%= @product.highlight %>">
									<div class="gallery-overlay-cover"></div>
									<a href="">
										<img src="<%= attachment.attachment.small.url %>" class="img-responsive">
									</a>
								</div>
							<% else %>
							<% end %>
							
						<% end %>
					<% end %>

				</div>
			</div>
			<!--gallery-->   
		</div>

	</div>
</section>

<style>
	.lg-sub-html {
		background: white;
		max-height: 100px;
	}
	.gallery-overlay-cover:hover {
	  cursor: pointer;
	}
</style>