<!-- Gallery  -->
<section class="content-8 gallery">
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-7 detailpage-images-gallery">
					<div class="col-md-6 topleftimg">                
						<a href="http://41.media.tumblr.com/f37ac708134914c471073e4c0b47328d/tumblr_mrn3dc10Wa1r1thfzo8_1280.jpg" data-toggle="lightbox" data-gallery="navigateTo" data-footer="Click">
						<img src="<%= asset_url('img/12.png') %>" class="img-responsive"></a>
					</div>
					<div class="col-md-6 toprightimg">                
						<a href="http://41.media.tumblr.com/838b44224e39c30cd43490deb11b919d/tumblr_mrn3dc10Wa1r1thfzo1_1280.jpg" data-toggle="lightbox" data-gallery="navigateTo">
						<img src="<%= asset_url('img/13.png') %>" class="img-responsive"></a>
					</div>
					<div class="col-md-4 bottomleftimg">                
						<a href="http://41.media.tumblr.com/e06a3513b0b36843f54bee99aeac689a/tumblr_mrn3dc10Wa1r1thfzo2_1280.jpg" data-toggle="lightbox" data-gallery="navigateTo">
						<img src="<%= asset_url('img/14.png') %>" class="img-responsive"></a>
						</div>
					<div class="col-md-4 bottomcentreimg">                
						<a href="http://41.media.tumblr.com/f37ac708134914c471073e4c0b47328d/tumblr_mrn3dc10Wa1r1thfzo8_1280.jpg" data-toggle="lightbox" data-gallery="navigateTo" data-footer="Click">
						<img src="<%= asset_url('img/15.jpg') %>" class="img-responsive"></a>
					</div>
					<div class="col-md-4 bottomrightimg">
						<a href="http://41.media.tumblr.com/838b44224e39c30cd43490deb11b919d/tumblr_mrn3dc10Wa1r1thfzo1_1280.jpg" data-toggle="lightbox" data-gallery="navigateTo" class="text-overlay-cover">See all 10 photos</a>
						<div class="gallery-overlay-cover"></div>
						<img src="<%= asset_url('img/16.jpg') %>" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>