<section class="header-11-sub section-details review">
	<div class="container">
		<div class="row  title-row">
			<div class="col-md-12">
				<h3 class="title-detailspage"><%= @total_review_count %> Reviews </h3>
			</div>
		</div>

		<div id="review-content">
			<% @product_reviews.each do |product_review| %>
				<div class="row">
					<div class="col-md-1 picture-block">
						<a href="#" style="display: block;"><img src="<%= product_review.avatar_url %>" class="img-circle" width="67" height="67"></a>
						<p class="star-rating small">
							<span class="icon-star <%= 'selected' if product_review.rating_stars > 0 %>"></span>
							<span class="icon-star <%= 'selected' if product_review.rating_stars > 1 %>"></span>
							<span class="icon-star <%= 'selected' if product_review.rating_stars > 2 %>"></span>
							<span class="icon-star <%= 'selected' if product_review.rating_stars > 3 %>"></span>
							<span class="icon-star <%= 'selected' if product_review.rating_stars > 4 %>"></span>
						</p>
					</div>
					<div class="col-md-6 text-block">
						<h5 class="review-name"><%= product_review.user.profile.first_name if product_review.user.profile.present? %></h5>
						<p><%= product_review.message %></p>
						<hr>
					</div>
				</div>
			<% end %>
			
			<% if current_user.present? && @product.user != current_user %>
				<div class="row">
					<form id="product-show" action="/products/<%= @product.id %>/write_comment" method="post">
						<%= tag(:input, :name => 'authenticity_token', :type => "hidden", :value => form_authenticity_token) %>
						<div class="col-md-6 col-xs-offset-1">
							<h4>Post a recommendation</h4>
							
						</div>
						<div class="col-md-6 col-xs-offset-1">
							<p class="star-rating" name="star-rating">
								<span class="icon-star"></span>
								<span class="icon-star"></span>
								<span class="icon-star"></span>
								<span class="icon-star"></span>
								<span class="icon-star"></span>
							</p>
							<input type="hidden" name="rating-stars" value="0" id="rating-stars">
						</div>
						
						<div class="col-md-6 col-xs-offset-1">
							<br>
							<textarea class="form-control testimonials" rows="3" name="message" id="message"></textarea>
						</div>
						
						<div class="col-md-6 col-xs-offset-1">
							<br>
							<input type="submit" class="btn btn-default btn-testimonials pull-right" value="Send">
						</div>
					</form>
				</div>
			<% end %>
			<div class="row">
				<div class="col-md-6 col-md-offset-1 text-center">
					<%= paginate @product_reviews %>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	$(document).ready(function() {
		$('#product-show').formValidation({
			framework: 'bootstrap',
			icon: {
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
				'message': {
					row: '.col-md-6.col-xs-offset-1',
					validators: {
						notEmpty: {
							message: 'The comment message is required'
						}
					}
				}, 
				'star-rating': {
					row: '.col-md-6',
					validators: {
						callback: {
							message: 'The star rating is required',
							callback: function(value, validator, $field) {
								var star_count = $('#product-show .star-rating .selected').length;
								console.log(star_count);
								$('#rating-stars').val(star_count);
								return (star_count > 0);
							}
						}
					}
				}
			}
		});

		// $('#product-show').on('hover', '.icon-star', function() {
		// 	$(this).addClass( "hover" );
		// }, function() {
		// 	$(this).removeClass( "hover" );
		// });

		$('#product-show .icon-star').hover(function() {
			$(this).addClass( "hover" );
			$(this).css('cursor', 'pointer');

			var index = $(this).index();
			if (index > 0) {
				for(var i = 1; i <= index; i++) {
					$item = $('#product-show .icon-star:nth-child' + '(' + i.toString() + ')');
					$item.addClass('hover');
				}
				// $('#product-show .icon-star:nth-child' + '(' + i.toString() + ')').addClass('hover');
			};
		}, function() {
			$(this).removeClass( "hover" );
			var index = $(this).index();
			if (index > 0) {
				for(var i = 1; i <= index; i++) {
					$item = $('#product-show .icon-star:nth-child' + '(' + i.toString() + ')');
					$item.removeClass('hover');
				}
			};
		});

		$('#product-show .icon-star').on('click', function() {
			$('#product-show .icon-star').removeClass('selected');
			var index = $(this).index();
			for(var i = 0; i <= index; i++) {
				$item = $('#product-show .icon-star:nth-child' + '(' + (i + 1).toString() + ')');
				$item.addClass('selected');
			}
			$('#product-show').formValidation('revalidateField', 'star-rating');
			
		})

	});
</script>

<style>
	.star-rating .icon-star.hover {
		color: #ffcd00;
	}
</style>