<section class="header-11-sub section-details content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered">
				  <thead>
				  	<tr>
				  		<th>#</th>
				  		<th>name</th>
				  		<th>Product Category</th>
				  		<th>Payment Type</th>
				  		<th>Upload Image Path</th>
				  	</tr>
				  </thead>
				  <tbody>
				  <% index = 0 %>
				  	<% @products.each do |product| %>
				  		<% index += 1 %>
				  		<tr>
				  			<th scope="row"><%= index.to_s %></th>
				  			<td><%= product.name %></td>
				  			<td><%= product.product_category.name %></td>
				  			<td><%= product.payment_type %></td>
				  			<td>
				  				<% product.product_attachments.each do |attachment| %>
				  					<div style="border-bottom: 1px solid red;">
				  						<%= attachment.attachment.url %>
				  					</div>
				  					
				  				<% end %>
				  			</td>
				  		</tr>
				  	<% end %>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</section>