<section class="header-11-sub section-details content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered">
				  <thead>
				  	<tr>
				  		<th>#</th>
				  		<th>name</th>
				  		<th>Product Category</th>
				  		<th>Payment Type</th>
				  		<th>Upload Image Path</th>
				  	</tr>
				  </thead>
				  <tbody>
				  <% index = 0 %>
				  	<% @products.each do |product| %>
				  		<% index += 1 %>
				  		<tr>
				  			<th scope="row"><%= index.to_s %></th>
				  			<td><%= product.name %></td>
				  			<td><%= get_product_category_name(product.product_category_id) %></td>
				  			<td><%= product.payment_type %></td>
				  			<td>
				  				<% if product.attachments.present? && product.attachments.kind_of?(Array) && product.attachments.count > 0 %>
				  					<%= product.attachments[0].url %>
				  				<% end %>
				  			</td>
				  		</tr>
				  	<% end %>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</section>