<section class="header-11-sub section-details content">
	<div class="container">
		<div class="row ">
			<div class="col-md-12">
				<div class="form-block">
					<h3>Add a Product</h3>
					<%= form_for(@product) do |f| %>
						<div class="form-group  col-md-12 ">
							<%= f.label :name, 'Name:' %><br />
          		<%= f.text_field :name, autofocus: true, :class => 'form-control' %>
						</div>

						<div class="form-group col-md-12 ">
							<label for="product-category-id">Product Category:</label>
							<select class="form-control" name="product[product_category_id]">
								<% @categories.each do |category| %>
									<option value="<%= category.id.to_s %>"><%= category.name %></option>
								<% end %>
							</select>
						</div>

						<div class="form-group col-md-12 ">
							<button type="button" id="add-photo-button" class="btn btn-default btn-lg active">Add Photo</button>
						</div>

						<div class="attachments-container">
							<input name="file_attachment" type="file" id="file_upload">
						</div>

						

						<div class="form-group col-md-12 ">
							<div class="radio">
							  <label>
							    <input type="radio" name="product[payment_type]" id="optionsRadios1" value="0" checked>
							    Visa
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="product[payment_type]" id="optionsRadios2" value="1">
							    MasterCard
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="product[payment_type]" id="optionsRadios3" value="2">
							    American Express
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="product[payment_type]" id="optionsRadios4" value="2">
							    Paypal
							  </label>
							</div>
						</div>

						<div class="form-group col-md-12 ">
							<label>
								<input type="checkbox" id="chk-agree" value="option1"> Agree the terms
							</label>
						</div>

						<div class="form-group col-md-12 ">
							<%= f.submit 'Submit', :class => 'blue btn-block btn btn-primary' %>
						</div>
						
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
$(window).load(function() {
	$(document).ready(function() {
		var adjustProductAttachments = function() {
			$('.attachments-container .clearfix').remove();
			index = 0;
			$('.attachments-container .col-md-4').each(function() {
				index++;
				if (index % 3 == 0) {
					$(this).after('<div class="clearfix"></div>');
				};
			})
		}

		// $('select').selectpicker({
		// 	liveSearch: false,
		// 	maxOptions: 1
		// });
		$('input[type="submit"]').prop('disabled', !$('#chk-agree').prop('checked'));
		adjustProductAttachments();

		$(document).on('change', '#chk-agree', function() {
			$('input[type="submit"]').prop('disabled', !$('#chk-agree').prop('checked'))
		})

		$(document).on('click', '#add-photo-button', function() {
			attachment_count = $('.attachments-container .col-md-4').length
			if (attachment_count < 5) {
				$('#file_upload').trigger('click');
			} else {
				alert("Can't upload more than 5.");
			}
			
		})

		$('.attachments-container').on('change', '#file_upload', function() {
			var formData = new FormData();
			formData.append('product_attachment[attachment]', this.files[0]);
			$.ajax({
			  url: '/product_attachments',
			  dataType: "json",
			  data: formData,
			  cache: false,
			  contentType: false,
			  processData: false,
			  type: 'POST',
			  success: function(data) {
			  	console.log('success');
			  	append_html = '<div class="form-group col-md-4">';
			  	append_html += '<img src="' + data.attachment.url + '" data-id="' + data.id + '">';
			  	append_html += '<input type="hidden" name="product_attachment[id][]" value="' + data.id + '">';
			  	append_html += '<button type="button" class="btn btn-default delete-attachment">Delete</button>';
			  	append_html += '</div>';
			  	$('.attachments-container').append(append_html);
			  	$('#file_upload').val('');
			  	adjustProductAttachments();
			  },
			  error: function(error) {
	      	console.log(error);
	      }
			});
		})

		$('.attachments-container').on('click', '.delete-attachment', function(event) {
			$(this).parent().fadeOut('slow', function() {
				$(this).remove();
			});
			var attachment_id = $(this).parent().find('input[name="product_attachment[id][]"]').val();
			$.ajax({
			  type: "POST",
        url: "/product_attachments/" + attachment_id,
        dataType: "json",
        data: { "_method": "delete" },
        complete: function(){
          console.log('deleted attachment');
        }
			});
			event.preventDefault();

		})

	});

});

$(function() {
	function displayResult(item) {
		$('.alert').show().html('You selected <strong>' + item.value + '</strong>: <strong>' + item.text + '</strong>');
	}
	$('#demo6').typeahead({
		source: [
			'Genting',
			'Zoo Negara',
			'Tioman',
			'Petronas Towers',
			'Batu Caves',
			'Gunung Mulu',
			'Mount Kinabalu',
			'Bako Park',
			'Sunway Lagoon',
			'Pangkor island'
		],
		onSelect: displayResult
	});

});
</script>

<style type="text/css">
	input[type=file] {
		display: none;
	}
	.section-details .btn.delete-attachment {
		position: absolute;
    top: 0;
    right: 15px;
    height: inherit;
    padding: 2px 10px;
    border-radius: 0;
    opacity: 0.8;
    background-color: #ccc;
	}
	.attachments-container .form-group.col-md-4 {
		position: relative;
	}
</style>