<div class="side-collapse-container">
	<section class="header-11-sub bg-empty">
		<div class="background mountain-empty">
			&nbsp;
		</div>
	</section>
	<section class="header-11-sub section-details summary">
		<div class="container">
			<div class="row">
				<div class="col-md-1 picture-block pull-left">
					<a href="#">
						<% if @user.get_store_thumb_url.present? %>
							<img src="<%= @user.get_store_thumb_url %>" class="img-circle" width="90">
						<% else %>
							<img src="<%= asset_url('default-avatar.png') %>" class="img-circle" width="90">
						<% end %>
					</a>
				</div>
				<div class="col-md-7 text-block merchant-details">
					<h3><%= @product.name %></h3>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa rerum voluptatum laborum, perspiciatis necessitatibus officiis, inventore provident praesentium minus non minima, quae vel architecto laudantium veniam nemo et illo similique.</p> -->
					<%= @product.highlight.html_safe if @product.highlight.present? %>
				</div>
				<div class="col-md-4">
					<div class="book-now-block book-widget-detail-page">
						<div class="productdetail">
							<p class="totalprice">Total : <%= get_currency_symbol(@product.currency) %><%= @product.price_cents / 100 %></p>
							<hr>
							<p><strong>When would you like to visit</strong></p>
							<input type="text" id="datetimepicker" class="form-control date-book" placeholder="Date">
								<button type="button" class="  blue btn-block btn btn-primary btn-pay">Book Now</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="header-11-sub section-details content">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<%= @product.description.html_safe if @product.description.present? %>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-12  gallery-row">
					<div id="owl-gallery" data-toggle="modal" data-target="#myModal" class="gallery-block owl-carousel">
						<!-- <div>
							<img class='lazyOwl' data-src="img/thumb1.jpg" width='250' alt="" />

						<div>
							<img class='lazyOwl' data-src="<%= asset_url('thumb1.jpg') %>" width='250' alt="" />
						</div>
						<div>
							<img class='lazyOwl' data-src="<%= asset_url('thumb2.jpg') %>" width='250' alt="" />
						</div>
						<div>
							<img class='lazyOwl' data-src="<%= asset_url('thumb1.jpg') %>" width='250' alt="" />
						</div>
						<div>
							<img class='lazyOwl' data-src="<%= asset_url('thumb2.jpg') %>" width='250' alt="" />
						</div>
						<div>
							<img class='lazyOwl' data-src="<%= asset_url('thumb1.jpg') %>" width='250' alt="" />
						</div>
						<div>
							<img src="<%= asset_url('thumb2.jpg') %>" alt="" />
						</div>
						<div>
							<img src="img/thumb1.jpg" alt="" />
						</div> -->

							<img src="<%= asset_url('thumb1.jpg') %>" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="header-11-sub section-details content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="title-detailspage">About the Merchant, <%= @user.profile.full_name if @user.profile.present? %></h3>
				</div>
				<div class="col-md-1 picture-block">
					<a href="#">
						<% if @user.get_store_thumb_url.present? %>
							<img src="<%= @user.get_store_thumb_url %>" class="img-circle" width="90">
						<% else %>
							<img src="<%= asset_url('default-avatar.png') %>" class="img-circle" width="90">
						<% end %>
					</a>
				</div>
				<div class="col-md-8 merchant-info text-block">
					<h5 class="review-name"><%= @user.profile.full_name if @user.profile.present? %></h5>
					<!-- <p> Kuala Lumpur, Malaysia  </p> -->
					<p> <%= @user.store_setting.city if @user.store_setting.present? %>, <%= @user.store_setting.state if @user.store_setting.present? %></p>
					<p> Member Since November <%= @user.store_setting.created_at.strftime('%Y') if @user.store_setting.present? %> </p>
					<br>
					<a class="btn btn-default btn-small btn-contact " href="#">Contact Me </a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h3 class="title-detailspage">You may also like</h3>
				</div>
				<% @other_products.each do |product| %>
					<div class="col-xs-12 col-sm-6 col-md-3 portfolio-item">
						<p class="price"><%= product.currency %> <%= product.price_cents / 100 %></p>
						<p class="heart-wrapper ">
							<input id="heart8" type="checkbox" class="heart-checkbox" />
							<label for="heart8"> </label>
						</p>
						<a href="<%= product_path product %>"><img src="<%= product.user_avatar_url %>" class="img-circle user-thumb" width="52" /></a>
						<a href="<%= product_path product %>">
							<img class="" src="<%= product.product_overview_url %>" width="262" alt="">
						</a>
						<h4>
							<a href="<%= product_path product %>"><%= product.name %></a>
						</h4>
						<a href="<%= product_path product %>">
							<p><%= product.city %>, <%= product.country %>
							</p>
							<p class="star-rating">
								<span class="icon-star selected"></span>
								<span class="icon-star"></span>
								<span class="icon-star"></span>
								<span class="icon-star"></span>
								<span class="icon-star"></span>
							</p>
						</a>
						<p></p>
					</div>
				<% end %>
			</div>
		</div>
	</section>
</div>

<script>
	function initResponsiveHeader() {
		var sideslider = $('[data-toggle=collapse-side]');
		var sel = sideslider.attr('data-target');
		var sel2 = sideslider.attr('data-target-2');
		sideslider.click(function(event) {
			$(sel).toggleClass('in');
			$(sel2).toggleClass('out');
		});

	}


	function initGallery() {
		$("#owl-gallery").owlCarousel({
			navigation: false,
			pagination: false,
			lazyLoad: true,
			autoPlay: 5000, //Set AutoPlay to 3 seconds
		});
	}

	function initCalendarDate() {
		$('#datetimepicker').datepicker();
	}
	$(window).load(function() {
		initResponsiveHeader();
		initCalendarDate();
		$(document).ready(function() {
			initGallery();
		});
	});

	$(document).ready(function () {
		$('.header-11-sub .background.mountain-empty').css({'background-image': 'url(' + gon.product_cover_image_url + ')'})
	})
</script>