<footer class="footer-2 footer">
	<div class="container">
		<div class="col-md-3">
			<!-- <div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle currency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					MYR
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">SGD</a></li>
					<li><a href="#">USD</a></li>
				</ul>
			</div> -->
			<form method="POST" action="/set_currency" id="set-currency">
				<%= tag(:input, :name => 'authenticity_token', :type => "hidden", :value => form_authenticity_token) %>
				<%= select_tag 'footer-currency', options_for_select(get_all_currencies, "USD"), class: "form-control", style: "width: 100px;" %>
			</form>
		</div>

		<div class="col-md-7">
			<div class="col-md-2">
				<a href="#">About</a>
			</div>
			<div class="col-md-2">
				<a href="#">Contact</a>
			</div>
			<div class="col-md-3">
				<a href="#">Become a Vendor</a>
			</div>
			<div class="col-md-2">
				<a href="#">Blog</a>
			</div>
			<div class="col-md-2">
				<a href="#">FAQs</a>
			</div>
		</div>
		<div class="col-md-2">
			<a href=""><img src="<%= asset_url('Facebook.png') %>" width="42"></a>
			<a href=""><img src="<%= asset_url('Twitter.png') %>" width="42"></a>
			<a href=""> <img src="<%= asset_url('Instagram.png') %>" width="42"></a>
		</div>
	</div>
	<div class="container">
		<div class="col-md-12 bottom-footer">
			<div class="col-md-6">
				<p class="pull-left"><a href="#" class="terms-footer">Terms and conditions </a>	<a href="#">Privacy policy</a></p>
			</div>
			<div class="col-md-6">
				<p class="pull-right">© 2016 want.my All rights reserved</p>
			</div>
		</div>
	</div>
</footer>

<script>
	$(document).ready(function() {
		$('#footer-currency').val(gon.current_currency);
	})

	$('#footer-currency').on('change', function() {
		// $('#set-currency').submit
		// var formData = new FormData();
		// formData.append('footer-currency', $('#footer-currency').val());
		// $.ajax({
		// 	  url: '/set_currency',
		// 	  dataType: "json",
		// 	  data: formData,
		// 	  cache: false,
		// 	  contentType: false,
		// 	  processData: false,
		// 	  type: 'POST',
		// 	  success: function(data) {
		// 	  	console.log('success')	;
		// 	  }
			  
		// 	});

		$(this).closest('form').submit();
	})

</script>