<header class="header-10">
	<div class="container">
		<div class="navbar col-sm-12" role="navigation">
			<div class="navbar-header nav-dark">
				<button type="button" class="navbar-toggle"></button>
				<a class="brand" href="/">
					<%= render 'layouts/brand_svg' %>
				</a>
			</div>
			<div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
				<ul class="nav pull-left">
					<% if user_signed_in? %>
						<% unless current_user.status == 'merchant' %>
							<li><%= link_to "Become a merchant", become_merchant_path %></li>
						<% end %>
						<li class="dropdown nav-user-options">
							<a href="#" class="dropdown-toggle usernavprofile dropdownselectactive"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<% if current_user.profile.present? && current_user.profile.first_name.present? %>
									<%= current_user.profile.first_name %>
								<% else %>
									<%= current_user.email %>
								<% end %>
								<% if current_user.get_avatar_url.present? %>
									<img src="<%= current_user.get_avatar_url %>" width="40" height = "40" class="img-circle profile-nav"/>
								<% else %>
									<img src="<%= asset_url('default-avatar.png') %>" width="40" height = "40" class="img-circle profile-nav"/>
								<% end %>
							</a>
							<ul class="dropdown-menu profile-nav-dropdown">
								<li><%= link_to 'Edit Profile', profile_path  %></li>
								<li><a href="/users/invitation/new">Invite Friends</a></li>
								<% if current_user.status == 'merchant' %>
									<li><%= link_to 'Account Settings', accounts_path %></li>
								<% end %>
								<li><a rel="nofollow" data-method="delete" href="/users/sign_out">Log Out</a></li>
							</ul>
						</li>
					<% else %>
						<li><%= link_to "Become a merchant", become_merchant_path %></li>
						<li><%= link_to "Login", new_user_session_path() %></li>
						<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</header>