<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- og meta for facebook share -->
	<meta property="fb:app_id" content="myid" /> 
  <meta property="og:type"   content="sdff:post" /> 
  <meta property="og:url"    content="testtest" /> 
  <meta property="og:title"  content="Sample" /> 
  <!-- <meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" /> -->


	<link rel="icon" href="../../favicon.ico">
  <title><%= page_title yield(:page_title) %></title>
  <%= stylesheet_link_tag    'application_old', media: 'all' %>
  <%= javascript_include_tag 'application_old' %>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>
<body>

	<%= render 'layouts/white_header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>

	<style type="text/css">
		
	</style>
</body>
</html>
